label, select, input{
    width: 250px;
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;

}

*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", serif;
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
    background-image: url("https://www.10wallpaper.com/es/view/Calm_lake_in_the_evening_Scenery_HD_Wallpaper.html");
    background-size: 100%;

}
.image h1{
    font-family: "Open Sans", serif;
    letter-spacing: -1px;
}
.image p{
    text-align: justify;
    margin: 20px 50px 0 50px;
}
.image img{
    border: 3px solid #14172f;
}
.image{
    position: absolute;
    top: 120px;
    right: 0;
    font-family: "Open Sans", serif;
    left: 0;
    margin: auto;
    width: 800px;
    height: 900px;
    font-size: 20px;
    background-color: rgba(243, 243, 243, 0.53);
    text-align: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
     padding: 20px;
}
/*input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
*/
button{
    content: '✓';
    background-color: #2d81ff;
    color: white;
    padding: 14px 20px;
    margin: 20px 0 20px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 18px;

}
#header_member{
    width: 100%;
    background-color: #222;
    box-shadow: 1px 1px 2px #333;
}
fieldset{
    margin-top: 200px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.74);
    color: #333;
    width: 600px;
    height: 300px;
    border: none;
}

